* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.container {
    max-width: 1520px;
}

.header {
    padding: 15px 0;
    background-color: transparent;
}

#banner-three {
    background: url(/images/stuff.png), #242424;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header__menu .nav-container nav ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
}

.header__menu .nav-container nav ul li {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 20px;
}

.header__context {
    display: flex;
}

.header__phone-numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__phone-numbers .phone span {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.header__phone-numbers .callback .call {
    padding: 16px 32px;
    background-color: #EE4043;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.complex {
    padding: 175px 0 240px;
}

.complex .complex__title span{
    font-size: 60px;
    line-height: 72px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.complex .complex__description {
    margin-top: 50px;
}

.complex .complex__description span{
    font-size: 24px;
    line-height: 31px;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
}

.services {
    padding: 120px 0;
}

.services .services__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.services .services__title .title {
    width: 546px;
}

.services .services__title .title span {
    font-size: 60px;
    line-height: 72px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
}

.services .services__title .button button {
    padding: 16px 32px;
    background-color: #EE4043;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
}

.services__list .list__item {
    margin-top: 60px;
    position: relative;
}

.services__list .list__item .list-item__title {
    display: flex;
    align-items: center;
}

.services__list .list__item .list-item__title .separator {
    width: 25px;
    height: 2px;
    background-color:#222222;
}

.services__list .list__item .list-item__title .title {
    font-size: 26px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
    color: #222222;
    margin-left: 15px;
}

.services__list .list__item .list-item__description {
    margin-top: 24px;
    width: 285px;
}

.services__list .list__item .list-item__context {
    display: flex;
    margin-top: 32px;
}

.services__list .list__item:hover > .list-item__button {
    top: 75px;
    left: -2px;
    opacity: 1;
    transition: all .3s ease-out;
}

.services__list .list__item .list-item__context .defise {
    width: 72px;
    height: 2px;
    background-color: #222;
}

.services__list .list__item .list-item__context .dot-1 {
    width: 2px;
    height: 2px;
    background-color: #222;
    border-radius: 50px;
    margin-left: 5px;

}

.services__list .list__item .list-item__context .dot-2 {
    width: 2px;
    height: 2px;
    background-color: #222;
    border-radius: 50px;
    margin-left: 5px;
}

.services__list .list__item .list-item__context .dot-3 {
    width: 2px;
    height: 2px;
    background-color: #222;
    border-radius: 50px;
    margin-left: 5px;
}

.services__list .list__item .list-item__description span {
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    color: #222222;
}

.services__list .list__item .list-item__button {
    margin-top: 32px;
    position: absolute;
    top: 0;
    opacity: 0;
}

.services__list .list__item .list-item__button button {
    padding: 16px 32px;
    background-color: #EE4043;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 50px;
}

.site {
    padding: 0 0 120px 0;
}

.site .site__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site .site__title .title span {
    font-size: 60px;
    line-height: 72px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
}

.site .site__title .button button {
    padding: 16px 32px;
    background-color: #EE4043;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.site__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.site .site__list .site__item {
    overflow: hidden;
    position: relative;
}

.site .site__list .site__item:hover > .information-box {
    top: 0;
}

.site__list .site__item .site-item__img img {
    transform: scale(0.97);
}

.site__list .site__item .site-item__context > span {
    top: 40px;
}

.site__list .site__item .site-item__context span {
    position:absolute;
    bottom:-50px;
    width:50px;
    height:50px;
    color: blue;
    -webkit-transition: top 0.8s ease;
    -moz-transition: top 0.8s ease;
    -o-transition: top 0.8s ease;
    -ms-transition: top 0.8s ease;
    transition: top 0.8s ease;
}

.site__list .site__item .information-box {
    position: absolute;
    transition: all .3s ease-out;
    background: #222;
    height: 100%;
    width: 100%;
    top: 70%;
    padding: 28px 30px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 18px 32px rgba(47, 47, 47, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site__list .site__item .information-box .information-box__title span {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    text-transform: uppercase;
    color: #222;
}

.site__list .site__item .information-box .information-box__description span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #222;
}

.site__list .site__item .information-box .information-box__technologies {
    margin-top: 80px;
    display: flex;

}

.site__list .site__item .information-box .information-box__technologies span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #222;
    margin-right: 10px;
}

.site__list .site__item .information-box .information-box__technologies .list-tech__laravel,
.site__list .site__item .information-box .information-box__technologies .list-tech__vue {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #222;
}

.site__list .site__item .information-box .information-box__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.site__list .site__item .information-box .information-box__buttons .red {
    padding: 16px 60px;
    background-color: #EE4043;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 51px;
}

.site__list .site__item .information-box .information-box__buttons .transparent {
    padding: 16px 60px;
    background-color: transparent;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #cecece;
    border-radius: 51px;
    margin-top: 20px;
}

.results {
    padding: 0 0 120px 0;
    position: relative;
}

.carousel-box {
    width: 850px;
    height: 530px;
}

.results .navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    top: 100%;
    left: 10px;
    font-weight: 700;
  }

  .results .navigation .prev span {
      margin-left: 14px;
  }

  .results .navigation .next span {
    margin-right: 14px;
}

.results .navigation .next {
    right: 10px;
    position: absolute;
    font-size: 25px;
    z-index: 10;
    top: 100%;
  }

  .item-img {
      z-index: 1;
  }

.results .navigation .nav-btn {
    background:transparent;
    border: 1px solid #e0e0e0;
    border-radius: 59px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
  }
  .results .navigation .nav-btn:hover {
    background: white;
  }

  .results .carousel {
    margin-top: 20px;
    transition: all .3s ease-out;

  }

  .item-info {
      min-width: 55%;
  }

  .item-info .item-title span {
      color: #222;
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
      text-transform: uppercase;
  }

  .item-info .item-border {
      position: absolute;
      top: 40px;
      width: 40%;
      left: 610px;
      height: 6px;
      background-color: #EE4043;

  }

  .item-info .item-services span {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #222222;
    margin-top: 28px;
  }

  .item-services {
      margin-top: 40px;
  }

  .item-info .item-services nav {
      margin-top: 20px;
  }

  .item-info .item-services nav ul li {
      font-size: 16px;
      font-weight: normal;
      line-height: 21px;
      color: #222;
      margin-bottom: 10px;
  }

  .item-info .item-services nav ul li::marker {
      width: 6px;
      height: 6px;
      color: #EE4042;
  }

  .item-results {
      margin-top: 44px;
  }

  .item-results .res {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #222222;
  }

  .statistic {
      display: flex;
  }

  .statistic .order-day {
      display: flex;
      flex-direction: column;
      margin-right: 40px;
  }

  .statistic .order-day .number {
      font-size: 29px;
      font-weight: bold;
      line-height: 38px;
      letter-spacing: 0.02em;
  }

  .results .item {
    position: absolute;
    display: none;
  }

  .results .main {
    display: flex;
  }

.callback-box {
    padding: 100px 0 20px 0;
    background-image: url('/images/formBG.png');
}

.callback-box .callback-box__form,
.callback-box .callback-box__context {
    padding: 50px;
}

.callback-box .callback-box__form .form__title span {
    font-size: 60px;
    font-weight: bold;
    line-height: 72px;
    text-transform: uppercase;
    color: #ffffff;
}

.callback-box .callback-box__form .form__form {
    margin-top: 50px;
}

.callback-box .callback-box__form .form__form .form-group {
    margin-bottom: 20px;
}

.callback-box .callback-box__form .form__form .form-group input {
    padding: 20px 24px;
    border: none;
    border-radius: 50px;
}

.callback-box .callback-box__form .form__form .form-group button {
    padding: 16px 32px;
    background-color: #EE4043;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 50px;
}

.callback-box .callback-box__order {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.callback-box .callback-box__order .brief {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: #fff;
}

.callback-box .callback-box__order .brief-site {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 16px;;
    padding-right: 14px;
    border-right: 1px solid #eee;
}

.callback-box .callback-box__order .brief-seo {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 16px;
    padding-right: 14px;
    border-right: 1px solid #eee;
}

.callback-box .callback-box__order .brief-style {
    width: 125px;
    text-align: center;
}

.callback-box .callback-box__order .brief-style span {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    margin-left: 16px;
}

.callback-box .callback-box__context .callback-box__paragraph-1 .paragraph-1__title span,
.callback-box .callback-box__context .callback-box__paragraph-2 .paragraph-2__title span {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: #fff;
}


.callback-box .callback-box__context .callback-box__paragraph-1 .paragraph-1__description p {
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}

.callback-box .callback-box__context .callback-box__paragraph-2 .paragraph-2__description p {
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}

.callback-box .callback-box__context .callback-box__paragraph-2 .paragraph-2__description .paragraph-2__list ul li {
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}

.footer {
    padding: 60px 0 24px 0;
    background-color: #222;
}

.footer .menu .footer-item__title {
    text-align: center;
}

.footer-item .service-menu .footer-item__title {
     text-align: left;
 }

.footer .footer-item .footer-item__button {
    margin: 40px 0;
}

.footer .footer-item .footer-item__button button{
    background-color: #EE4043;
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
}

.footer .footer-item .footer-item__order {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

.footer .footer-item .footer-item__order .brief {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: #fff;
}

.footer .footer-item .footer-item__order .brief-site {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 16px;;
    padding-right: 14px;
    border-right: 1px solid #eee;
}

.footer .footer-item .footer-item__order .brief-seo {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 16px;
    padding-right: 14px;
    border-right: 1px solid #eee;
}

.footer .footer-item .footer-item__order .brief-style {
    width: 125px;
    text-align: center;
}

.footer .footer-item .footer-item__order .brief-style {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    margin-left: 16px;
}

.footer .footer-item .footer-item__title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.footer .menu .footer-item__nav {
    text-align: center;
    margin-top: 32px;
}

.footer .service-menu .footer-item__nav {
    margin-top: 32px;
}

.footer .marketing {
    display: flex;
    align-items: center;
    margin-top: 28px;
}

.footer .location {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .footer-item .footer-item__nav ul {
    padding: 0;
}

.footer .footer-item .footer-item__nav ul li {
    list-style: none;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin-top: 12px;
}

.footer .footer-item .footer-item__numbers {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}

.footer .footer-item .footer-item__numbers span {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin-top: 10px;
}

.footer .footer-item .footer-item__social-icon {
    display: flex;
}

.footer .footer-item .footer-item__social-icon .social-icon__telegram,
.footer .footer-item .footer-item__social-icon .social-icon__viber,
.footer .footer-item .footer-item__social-icon .social-icon__instagram,
.footer .footer-item .footer-item__social-icon .social-icon__facebook {
    width: 34px;
    height: 34px;
    background: #505050;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 32px;
}

.footer .footer-item .footer-item__social-icon .social-icon__telegram:hover,
.footer .footer-item .footer-item__social-icon .social-icon__viber:hover,
.footer .footer-item .footer-item__social-icon .social-icon__instagram:hover,
.footer .footer-item .footer-item__social-icon .social-icon__facebook:hover {
    background-color: #fff;
    transition: all .3s ease-out;
}

.footer .footer-item .footer-item__social-icon .social-icon__telegram span,
.footer .footer-item .footer-item__social-icon .social-icon__viber span,
.footer .footer-item .footer-item__social-icon .social-icon__instagram span,
.footer .footer-item .footer-item__social-icon .social-icon__facebook span {
    color: #222;
}

.footer .footer-item .top {
    display: flex;
}

.footer .footer-item .bottom {
    display: flex;
}

.footer .footer-item .top .footer-item__icon,
.footer .footer-item .bottom .footer-item__icon {
    margin-right: 6px;
}

.footer .footer-item .top .footer-item__info-text span,
.footer .footer-item .bottom .footer-item__info-text span {
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}

.footer .footer-rules {
    display: flex;
    justify-content: center;
    margin-top: 31px;
}

.footer .footer-rules span {
    color: #919191;
    font-size: 14px;
    line-height: 17px;
}

/* shop page style */

.create {
    padding: 30px 0 42px 0;
    background-color: #222;
}

.create-item__information .create-item__title span {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.create-item__information .create-item__description span {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.create-item__information .create-item__description {
    width: 450px;
}

.create-item__information .create-item__buttons {
    display: flex;
}

.create-item__information .create-item__buttons .btn-send button {
    padding: 16px 32px;
    background-color: #EE4043;
    color: #fff;
    border: none;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-item__information .create-item__buttons .btn-discuss button {
    padding: 28px 32px;
    color: #fff;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #4F4F4F;
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 20px;
}

.create-item__stock {
    padding: 22px 38px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #81712F;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    width: 1075px;
    height: 90px;
    justify-content: space-around;
    margin: 80px auto 0;
}

.create-item__stock .shop {
    width: 100px;
    border-right: 1px solid;
    border-right-color: rgba(255, 255, 255, 0.13);
}

.create-item__stock .shop span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.create-item__stock .domen {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid;
    border-right-color: rgba(255, 255, 255, 0.13);
}

.create-item__stock .logo,
.create-item__stock .seo {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid;
    border-right-color: rgba(255, 255, 255, 0.13);
}

.create-item__stock .domen .plus span,
.create-item__stock .logo .plus span,
.create-item__stock .seo .plus span {
    font-size: 38px;
    font-weight: bold;
    color: #fff;
}

.create-item__stock .domen .domen-name,
.create-item__stock .seo .seo-title {
    display: flex;
    width: 100px;
    margin-left: 14px;
}

.create-item__stock .logo .logo-box {
    margin-left: 14px;
    margin-right: 40px;
}

.create-item__stock .seo .seo-title {
    margin-right: 40px;
}

.create-item__stock .domen .domen-name span,
.create-item__stock .logo .logo-box span,
.create-item__stock .seo .seo-title span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.create-item__stock .price {
    border-right: 1px solid;
    border-right-color: rgba(255, 255, 255, 0.13);
    padding-right: 40px;
}

.create-item__stock .price span {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.create-item__stock .days span {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.eCommerce {
    padding-top: 120px;
}

.eCommerce-title {
    width: 1200px;
}

.eCommerce-title span{
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    color: #222222;
}

.eCommerce-cards {
    display: flex;
    margin-top: 60px;
}

.green,
.blue,
.red {
    margin-right: 10px;
}

.green:hover,
.blue:hover,
.red:hover,
.yellow:hover {
    transition: all .3s ease-out;
    transform: scale(1.03);
    cursor: pointer;
}

.eCommerce .green-head {
    padding: 23px 0 23px 30px;
    background-color: #B2D550;
}

.eCommerce .green-head .title span {
    font-weight: bold;
    font-size: 26px;
    line-height: 43px;
}

.eCommerce .blue-head {
    padding: 23px 0 23px 30px;
    background-color: #4C49EA;
}

.eCommerce .blue-head .title span {
    font-weight: bold;
    font-size: 26px;
    line-height: 43px;
    color: #fff;
}

.eCommerce .blue-head .description span {
    color: #fff;
}

.eCommerce .red-head {
    padding: 23px 0 23px 30px;
    background-color: #EE4043;
}

.eCommerce .red-head .title span {
    font-weight: bold;
    font-size: 26px;
    line-height: 43px;
    color: #fff;
}

.eCommerce .red-head .description span {
    color: #fff;
}

.eCommerce .yellow-head {
    padding: 23px 0 23px 30px;
    background-color: #FED832;
}

.eCommerce .yellow-head .title span {
    font-weight: bold;
    font-size: 26px;
    line-height: 43px;
}

.eCommerce .green-wrapper,
.eCommerce .blue-wrapper,
.eCommerce .red-wrapper,
.eCommerce .yellow-wrapper {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 0px;
    padding: 18px 30px 38px 30px;
    white-space: nowrap;
}

.eCommerce .green-price,
.eCommerce .blue-price,
.eCommerce .red-price,
.eCommerce .yellow-price {
    display: flex;
    justify-content: space-between;
}

.green-price .price .price-title span,
.blue-price .price .price-title span,
.red-price .price .price-title span,
.yellow-price .price .price-title span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B5B5B5;
}

.green-price .price .price-numbers .old-price {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #B5B5B5;
}

.green-price .price .price-numbers .new-price {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #222222;
}

.green-deadline .deadline-title span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B5B5B5;
}

.green-deadline .deadline-day span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #222222;
}

.hr {
    height: 2px;
    background: #f4f4f4;
    margin-top: 18px;
}

.green-body .body-title {
    margin-top: 24px;
}

.green-body .body-title span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #222222;
}

.green-body .body-list .list-item-success,
.green-body .body-list .not-available {
    margin-top: 18px;
}

.green-body .body-list .list-item-success span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #222222;
    margin-left: 8px;
}

.green-body .body-list .not-available span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    text-decoration-line: line-through;
    color: #B5B5B5;
    margin-left: 8px;
}

.blue-price .price .price-numbers span,
.red-price .price .price-numbers span,
.yellow-price .price .price-numbers span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #222222;
}

.blue-price .blue-deadline .deadline-title span,
.red-price .red-deadline .deadline-title span,
.yellow-price .yellow-deadline .deadline-title span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #B5B5B5;
}

.blue-price .blue-deadline .deadline-day span,
.red-price .red-deadline .deadline-day span,
.yellow-price .yellow-deadline .deadline-day span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #222222;
}

.blue-body .body-title {
    margin-top: 24px;
}

.blue-body .body-title span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #222222;
}

.blue-body .body-list .list-item-success,
.blue-body .body-list .not-available {
    margin-top: 18px;
}

.blue-body .body-list .list-item-success span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #222222;
    margin-left: 8px;
}

.blue-body .body-list .not-available span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    text-decoration-line: line-through;
    color: #B5B5B5;
    margin-left: 8px;
}

.red-body .body-title {
    margin-top: 24px;
}

.red-body .body-title span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #222222;
}

.red-body .body-list .list-item-success,
.red-body .body-list .not-available {
    margin-top: 18px;
}

.red-body .body-list .list-item-success span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #222222;
    margin-left: 8px;
}

.red-body .body-list .not-available span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    text-decoration-line: line-through;
    color: #B5B5B5;
    margin-left: 8px;
}

.yellow-body .body-title {
    margin-top: 24px;
}

.yellow-body .body-title span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #222222;
}

.yellow-body .body-list .list-item-success,
.yellow-body .body-list .not-available {
    margin-top: 18px;
}

.yellow-body .body-list .list-item-success span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #222222;
    margin-left: 8px;
}

.yellow-body .body-list .not-available span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    text-decoration-line: line-through;
    color: #B5B5B5;
    margin-left: 8px;
}
