/* Mobile responsive settings */
@media screen and (max-width: 768px) {
    .header {
        position: relative;
    }

    .header-section {
        position: fixed;
        background-color: #333;
        z-index: 1;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #222;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
     
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 25px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .complex .complex__title span {
        font-size: 26px;
        line-height: 31px;
    }

    .complex .complex__description span {
        font-size: 18px;
        line-height: 23px;
    }

    .callback {
        display: none;
    }

    .callback-box .callback-box__form .form__title span {
        font-size: 26px;
        line-height: 31px;
    }

    .callback-box .callback-box__form .form__form .form-group input {
        padding: 10px 20px;
    }

    .site .site__title .title span {
        font-size: 26px;
        line-height: 31px;
    }

    .site__list .site__item .information-box .information-box__title span {
        font-size: 20px;
        line-height: 25px;
    }

    .site__list .site__item .information-box .information-box__description span {
        font-size: 15px;
        line-height: 19px;
    }

    .site__list .site__item .information-box .information-box__buttons .red,
    .site__list .site__item .information-box .information-box__buttons .transparent {
        padding: 16px;
        font-size: 14px;
        line-height: 17px;
        white-space: nowrap;
    }

    .services .services__title .title span {
        font-size: 26px;
        line-height: 31px;
    }

    .services .services__title .button button {
        padding: 16px;
    }

    .services__list .list__item .list-item__title .title {
        font-size: 20px;
        line-height: 24px;
    }

    .services__list .list__item:hover > .list-item__button {
        top: 125px;
    }

    .services__list .list__item .list-item__button button {
        font-size: 14px;
        line-height: 10px;
    }

    .phone {
        position: absolute;
        left: 300px;
    }

    .services__list .list__item .list-item__description { 
        width: auto;
    }

    .footer-item { 
        width: 100%;
    }

    .footer-item .footer-item__img { 
        display: flex;
        justify-content: center;
    }

    .footer-item .footer-item__button {
        display: flex;
        justify-content: center;
    }

    .footer .menu {
        margin-top: 40px;
    }

    .footer .service-menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
    }

    .footer .service-menu .footer-item__title { 
        text-align: center;
    }

    .footer .service-menu .footer-item__nav { 
        text-align: center;
        margin-top: 5px;
    }

    .footer .marketing {
        margin-top: 0;
        justify-content: center;
        text-align: center;
    }

    .footer .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .footer .footer-item .footer-item__numbers {
        margin-top: 0;
    }

    .footer .location {
        margin-top: 30px;
    }

    .footer .location .top,
    .footer .location .bottom { 
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer .location .bottom { 
        margin-top: 20px;
    }
}


@media screen and (max-width: 478px) {
    .header {
        display: none;
    }

    .complex .complex__title span {
        font-size: 26px;
        line-height: 31px;
    }

    .complex .complex__description span {
        font-size: 18px;
        line-hexight: 23px;
    }

    .services .services__title,
    .site .site__title { 
        flex-direction: column;
    }

    .services .services__title .title,
    .site .site__title .title {
        width: 100%;
    }

    .services .services__title .title span,
    .site .site__title .title span { 
        font-size: 26px;
        line-height: 31px;
    }

    .services__list .list__item .list-item__title .title {
        font-size: 20px;
        line-height: 24px;
    }

    .services__list .list__item .list-item__description span {
        font-size: 14px;
        line-height: 18px;
    }

    .services .services__title .button button {
        display: none;
    }

    .site .site__title .button button {
        display: none;
    }

    .site__list .site__item .information-box .information-box__buttons .red {
        font-size: 14px;
        line-height: 17px;
    }

    .site__list .site__item .information-box .information-box__buttons .transparent {
        font-size: 14px;
        line-height: 17px;
    }

    .callback-box .callback-box__form .form__title span {
        font-size: 26px;
        line-height: 31px;
    }

    .callback-box .callback-box__form .form__form .form-group button { 
        width: 100%;
    }

    .callback-box .callback-box__order { 
        flex-direction: column;
    }

    .footer .footer-item .footer-item__title {
        text-align: center;
        margin-top: 50px;
    }

    .footer .footer-item .footer-item__img {
        display: flex;
        justify-content: center;
    }

    .footer .footer-item .footer-item__button { 
        display: flex;
        justify-content: center;
    }

    .footer .service-menu .footer-item__nav { 
        text-align: center;
        margin-top: 10px;
    }

    .footer .marketing { 
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }

    .footer .footer-item .footer-item__numbers span { 
        text-align: center;
    }

    .footer .footer-item .footer-item__social-icon {
        justify-content: center;
    }

    .footer .location .top {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .footer .location .bottom { 
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .footer .location .top .footer-item__info-text,
    .footer .location .bottom .footer-item__info-text{ 
        width: 200px;
        text-align: center;
    }

    .footer .footer-rules { 
        width: 185px;
        text-align: center;
        margin: 0 auto;
        padding-top: 50px;
    }
}